[Unit]
Description=MonitorDevice
[Service]
PIDFile=/tmp/monitordevice.pid
User=monitordevice
Group=monitordevice
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/monitordevice/bin/
ExecStart=/home/monitordevice/bin/build/index.js
[Install]
WantedBy=multi-user.target