[Unit]
Description=pgclone
[Service]
PIDFile=/tmp/pgclone.pid
User=pgclone
Group=pgclone
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/pgclone/bin/
ExecStart=/home/pgclone/bin/build/index.js
[Install]
WantedBy=multi-user.target